// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded-box {
  background-color:#FFFFFF;
  border:1px solid #DDDDDD;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  margin:15px 0;
  padding:39px 19px 14px;
  position:relative;
}

.v-spacer20 { height: 20px; }
.v-spacer40 { height: 40px; }
.v-spacer60 { height: 60px; }
.v-spacer80 { height: 80px; }
